@import "../../scss/mixin";

.cart-product {
    padding: 5rem;
    @include respond-to('large') {
        padding: 5rem 0;
    }
    .container {
        @include respond-to('large') {
            padding: 0;
            max-width: 720px;
        }
    }
    // cart table
    .cart-table {
        width: 100%;
        @include respond-to('large') {
            margin-bottom: 3rem;
        }
        @include respond-to('small') {
            padding: 0 .75rem;
        }

        thead {
            @include respond-to('small') {
                display: none;
            }

            tr {
                background: #2c3e50;
                color: #fff;

                th {
                    padding: .5rem;
                }
            }
        }
        tbody {
            tr {
                @include respond-to('small') {
                    display: block;
                    text-align: center;
                    border: 1px solid #ddd;
                    margin-bottom: 1rem;
                }

                td {
                    padding: 1rem;

                    @include respond-to('large') {
                        padding: 0.5rem 0 0 1rem;
                    }
                    @include respond-to('small') {
                        display: block;
                        padding: 1rem;
                    }

                }
                td.prod-thumbnail {
                    width: 150px;
                    @include respond-to('large') {
                        padding-left: 0;
                    }
                    @include respond-to('small') {
                        margin: 0 auto;
                    }

                    img {
                        width: 100%;
                        display: block;
                    }
                }
                td.prod-quantity {
                    div.quantity-content {
                        display: flex;
                        align-items: center;

                        @include respond-to('small') {
                            justify-content: center;
                        }

                        span {
                            padding: 1rem;
                        }
                        div.btn-change-quantity {
                            display: flex;
                            flex-direction: column;

                            @include respond-to('small') {
                                flex-direction: row;
                            }

                            button {
                                border: none;
                                display: inline-block;
                                padding: .8rem;
                                font-family: 'Poppins';
                                width: 100%;
                                cursor: pointer;
                            }
                        }
                    }
                }
                td.prod-total {
                    @include respond-to('small') {
                        font-weight: 600;
                    }
                }
                td.prod-remove {
                    text-align: center;
                    cursor: pointer;
                }

            }
            /* when no product in cart */
            .no-product-in-cart {
                p {
                    padding: .5rem 1rem;
                    background: #fff4bb;
                    color: #e99b00;
                    border-color: #ffcc66;
                    margin: 1rem 0;
                }
                a {
                    display: inline-block;
                    padding: .5rem 1rem;
                    color: #fff;
                    background: #2d3436;
                    border: 2px solid #2d3436;
                    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);

                    &:hover {
                        color: #2d3436;
                        background: #fff;
                    }
                }
            }
        }
    }
    // cart total
    .cart-total {
        background: #ecf0f1;

        h3.cart-total_title {
            font-weight: 600;
            padding: 1rem;
            border-bottom: 1px solid #ddd;
        }
        .cart-total_info {
            padding: 1rem;

            .subtotla {
                display: flex;
                padding-bottom: 1rem;

                span:first-child {
                    width: 40%;
                }
                span:last-child {
                    width: 60%;
                }
            }
            .shipping {
                padding-bottom: 1rem;

                .shipping_title {
                    padding-bottom: .5rem;
                }
                .shipping-content {
                    padding-left: 2rem;

                    div {
                        input {
                            margin-right: .8rem;
                            cursor: pointer;
                        }
                        label {
                            cursor: pointer;
                        }
                    }
                    div.free-shipping {
                        padding-bottom: .5rem;
                    }
                }
            }
            .total {
                display: flex;

                span:first-child {
                    width: 40%;
                }
                span:last-child {
                    width: 60%;
                    font-weight: 600;
                    color: #e74c3c;
                }
            }
        }
    }
}