.upcoming-discount {
    display: flex;
    margin: 2rem 0;
}

.upcoming-discount .discount-wrap:nth-child(1) {
    background: url('../../images/hero/shoes-banner-bg-1.jpg') no-repeat center;
    background-size: cover;
}

.upcoming-discount .discount-wrap:nth-child(2) {
    background: url('../../images/hero/shoes-banner-bg-2.jpg') no-repeat center;
    background-size: cover;
}

.discount-wrap {
    position: relative;
    overflow: hidden;
    width: 50%;
}

.discount-wrap__content {
    padding: 2rem 3rem;
}

.discount-wrap__content h2 {
    color: #0093e0;
    font-size: 3rem;
    line-height: 1.2;
}

.discount-wrap__content h3 {
    color: #fff;
    font-size: 2rem;
    line-height: 1.2;
}

.discount-wrap__content p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.discount-wrap__content a {
    display: inline-block;
    color: #fff;
    border: none;
    background-color: #ffb900;
    font-family: "Poppins", sans-serif;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: .2s linear;
}

.discount-wrap__content a:hover {
    background-color: #000;
}

@media (max-width: 768px) {
    .upcoming-discount {
        flex-wrap: wrap;
    }
    .discount-wrap {
        width: 100%;
    }
    .discount-wrap__content h2 {
        font-size: 2.5rem;
    }
    .discount-wrap__content h3 {
        font-size: 1.5;
    }
    .discount-wrap__content a {
        padding: .6rem 1.2rem;
    }
}


