.breadcrumb-blog__title {
    display: inline-block;
    padding: 1rem;
}

.blog__content__title h1 {
    margin: 3rem 0;
    color: tomato;
    font-size: 2rem;
}

.blog__content__avatar {
    margin-bottom: 2rem;
}

.blog__content__avatar img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.blog__content__description p {
    margin-bottom: 1rem;
    font-size: 15px;
    color: #555;
    line-height: 1.8;
}