@import "../../scss/mixin";

/* header about */

.about__header {
    text-align: center;
    padding: 5rem 0;
    background: url('../../images/blogs/bg_breadcrumb_v1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        text-align: center;
        font-size: 2rem;
        color: #fff;
    }

    .breadcrumb-about {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        a {
            display: inline-block;
            padding: 1rem;
            color: #fff;
            transition: .2s ease;

            &:hover {
                color: #ffb900;
            }
        }
    }
}

/* about content */ 

.about__content {
    padding: 5rem 0;
    @include respond-to('small') {
        padding: 3rem 0;
    }

    .about_content_wrap {
        @include respond-to('small') {
            margin-bottom: 2rem;
        }
        @include respond-to('medium') {
            margin-bottom: 2rem;        
        }
        h4 {
            color: #222;
            font-size: 1.5rem;
            margin: 1.5rem 0;
            font-weight: 600;
            @include respond-to('small') {
                margin-top: 0;
            }
        }
        blockquote {
            font-style: italic;
            font-size: 15px;
            margin-bottom: 1.5rem;
        }
        a {
            font-weight: 500;
            display: inline-block;
            padding: .5rem 1.5rem;
            color: #2d3436;
            border: 2px solid #2d3436;
            background: #fff;
            transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                background: #2d3436;
                color: #fff;
            }
        }
    }

    .about_img {
        img {
            display: block;
            width: 100%;
            max-width: 100%;
        }
    }
}











