/* header about */

.about__header {
    text-align: center;
    padding: 5rem 0;
    background: url('../../images/blogs/bg_breadcrumb_v1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.about__header h1 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.breadcrumb-about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.breadcrumb-about a {
    display: inline-block;
    padding: 1rem;
    color: #fff;
    transition: .2s ease;
}

.breadcrumb-about a:hover {
    color: #ffb900;
}

/* about content */

.about__content {
    padding: 5rem 0;
}

.about_content_wrap h4 {
    color: #222;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.about_content_wrap blockquote {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 1.5rem;
}

.about_content_wrap a {
    font-weight: 500;
    display: inline-block;
    padding: .5rem 1.5rem;
    color: #2d3436;
    border: 2px solid #2d3436;
    background: #fff;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about_content_wrap a:hover {
    background: #2d3436;
    color: #fff;
}

.about_img img {
    display: block;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 576px) {
    .about__content {
        padding: 3rem 0;
    }
    .about_content_wrap {
        margin-bottom: 2rem;
    }
    .about_content_wrap h4 {
        margin-top: 0;
    }
}