.product-detail .container:nth-child(2) {
    padding: 3rem 0;
}

.product-detail__avatar img {
    display: block;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.product-detail__info .info__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 2rem;
}

.product-detail__info .info__content {
    margin-bottom: 2rem;
}

.product-detail__info .info__price {
    display: inline-block;
    font-size: 2rem;
    color: tomato;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.info__cart-section {
    display: flex;
}

.info__cart-section .cart__quantity {
    display: flex;
    margin-right: 1.5rem;
}

.cart__quantity .cart__quantity__current {
    padding: 0 2.5rem;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.cart__quantity .cart__quantity__change {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
}

.cart__quantity .cart__quantity__change span{
    display: inline-block;
    padding: 0 1rem;
    cursor: pointer;
}

.cart__quantity .cart__quantity__change span:nth-child(1) {
    border-bottom: 1px solid #ddd;
}

button.addToCart {
    outline: none;
    padding: 0 2rem;
    font-family: 'Poppins';
    color: #fff;
    background: tomato;
    font-weight: 600;
    border: 3px solid tomato;
    transition: .2s ease-in-out;
    cursor: pointer;
}

button.addToCart:hover {
    background: #fff;
    color: tomato;
}

.product-detail .container .title {
    font-size: 2rem;
    font-weight: 500;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin: 2rem;
}

@media (max-width: 576px) {
    .product-detail__avatar {
        margin-bottom: 1rem;
    }
    .product-detail__info {
        padding: 0 .75rem;
    }
    .product-detail__info h3 {
        text-align: center;
    }
    .info__cart-section .addToCart {
        flex-grow: 1;
    }
}