.shop__pagination {
    .pagination-wrap {
        padding: 1.5rem 0 2rem;
        
        ul {
            display: flex;
            justify-content: center;
            z-index: 1;

            li {
                margin: 0 .5rem;
                line-height: 40px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                border: 1px solid #ddd;
                color: #555;
                text-align: center;
                transition: .2s linear;
                cursor: pointer;
                user-select: none;
                background: #fff;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
            li.active {
                background-color: #000;
                color: #fff;
            }
        }
    }
}