.header {
    background-color: #000;
    padding: 1rem 0;
    transition: .2s ease-in;
    z-index: 999;
    width: 100%;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .logo {
    display: inline-block;
    width: 30%;
}

.logo a {
    display: block;
}

.nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.menu-mobile {
    display: none;
}

.menu-mobile box-icon {
    width: 35px;
    height: 35px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    transition: .2s linear; 
    align-items: center;
}

.menu li {
    padding: .5rem 1rem;
}

.menu li a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    transition: .2s ease-in;
}

.menu li a:hover {
    color: #ffb900;
}

.menu li a.active{
    color: #ffb900;
}

.cart {
    text-align: right;
    margin-left: 2rem;
}

.cart box-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    cursor: pointer;
}

.cart span {
    color: #fff;
}

/* responsive */

@media (max-width: 992px) {
    .header .container {
        padding: 0;
    }
    .header .logo {
        display: block;
        padding-left: .8rem;
    }
    .header .logo img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .menu-mobile {
        display: block;
        padding-right: .5rem;
    }
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        text-align: right;
        z-index: 0;
        background: #000;
        top: 100%;
        right: 0;
        transition: .2s ease-in-out;
        z-index: 2;
        transform: translateX(160%);
        opacity: 0;
        transform-origin: top;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        padding: 1rem 2rem;
    }
    .menu .cart {
        padding: 1rem 2rem;
        display: block;
    }
    .cart box-icon {
        width: 35px;
        height: 35px;
    }
    
}

@media (max-width: 576px) {
    .header {
        padding: 0;
    }
    .logo img {
        width: 100%;
    }
    .nav {
        padding: .5rem 0;
    }
}




