@import "../../scss/mixin";

.header {
    background-color: #000;
    padding: 1rem 0;
    transition: .2s ease-in;
    z-index: 999;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        
        @include respond-to('large') {
        padding: 0;
    }

        .logo {
            display: inline-block;
            width: 30%;

            @include respond-to('large') {
                display: block;
                padding-left: .8rem;
            }
            img {
                @include respond-to('large') {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .nav {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            @include respond-to('small') {
                padding: 0;
            }

            .menu-mobile {
                display: none;

                @include respond-to('large') {
                    display: block;
                    padding-right: .5rem;
                }

                box-icon {
                    width: 35px;
                    height: 35px;
                }
            }
            .menu {
                display: flex;
                justify-content: flex-end;
                transition: .2s linear; 
                align-items: center;

                @include respond-to('large') {
                    display: block;
                    position: absolute;
                    width: 100%;
                    text-align: right;
                    z-index: 0;
                    background: #000;
                    top: 100%;
                    right: 0;
                    transition: .2s ease-in-out;
                    z-index: 2;
                    transform: translateX(160%);
                    opacity: 0;
                    transform-origin: top;
                }

                li {
                    padding: .5rem 1rem;
                    @include respond-to('large') {
                        padding: 1rem 2rem;
                    }

                    a {
                        display: inline-block;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 500;
                        transition: .2s ease-in;

                        &:hover {
                            color: #ffb900;
                        }
                    }
                    a.active{
                        color: #ffb900;
                    }
                }
                .cart {
                    text-align: right;
                    margin-left: 2rem;

                    @include respond-to('large') {
                        padding: 1rem 2rem;
                        display: block;
                    }

                    box-icon {
                        display: inline-block;
                        width: 45px;
                        height: 45px;
                        margin: 0 auto;
                        cursor: pointer;

                        @include respond-to('large') {
                            box-icon {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                    span {
                        color: #fff;
                    }
                }
            }
            .menu.active {
                @include respond-to('large') {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}